@import "../basics.scss";
@import "../components/forms.scss";

.container_login {
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100vh;
    background: $blue;
    @include card-form(100vh, 100%);
    .title_and_icon {
        display: flex !important;
        align-items: center;
        gap: 25px;
        justify-content: center;
        margin-top: 115px; 
        & > * {
            position: relative;
            left: 0;
            animation: normal 1s opacityToRight  backwards ease;
        }
    }
    .background_icon {
        animation-delay: 1s;  
        z-index: 2; 
    }
    h1 {
        animation-delay: 1.5s !important;
        letter-spacing: 1px;
    }
}
.icon {
    max-width: 70px;
}
input {
    animation: normal 1.5s widthCero  backwards ease;
    animation-delay: .2s;
    overflow: clip;
}
@keyframes opacityToRight { 
    from {
        opacity: 0;
        left: -60px;
    }
}
@keyframes widthCero {
    0% {
        width: 0px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
}
.card_form {
    position: relative;
    max-width: 300px;
    @media (min-width: 720px) {
        padding-right: 56px !important;
    }
}
.btn_submit {
    text-align: right;
    position: absolute;
    font-size: 26px;
    padding-right: 10px;
    width: 397px;
    animation-delay: 1s;

    // height: 77px;
    right: 0;
    top: calc(50% - 65px / 2 + 126.5px);
    &.disabled {
        color: rgba(255, 255, 255, 0.664);

        background: linear-gradient(
            270deg,
            #57adc0,
            rgba(87, 173, 192, 0.208333), 
            rgba(87, 173, 192, 0)
        );
    } 
    &.active {
        color: rgba(245, 245, 245, 0.788);

        background: linear-gradient(
            270deg,
            #a64684 11.92%,
            #a64684 54.62%,
            #069dbf 101.65%
        );
        &.active:hover {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.781);
            transition: all 0.3s ease;
        }
    }
}

.body_form {
    margin-top: 40px;
}
.container_squares {
    & > div {
        position: absolute;
        box-shadow: 1px 1px 28px 11px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        transition: all cubic-bezier(0.2, 0.49, 0.32, 0.99) 0.45s;
        animation: normal 1.2s squaresAnimation backwards
            cubic-bezier(0.2, 0.49, 0.32, 0.99);
    }
}
 
@for $i from 1 through 27 {
    .container_squares > div {
        // :nth-child(1-9)
        &:nth-child(#{$i}) { 
            // Delay the animation. Delay increases as items loop.
            animation-delay: $i * (1s / 18);
        }
    }
}
@keyframes squaresAnimation {
    from {
        top: -360px;
    }
}
.sqrBack {
    // filter: saturate(90%);
    // opacity: 0.9;
    z-index: 2;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #069dbf2d;
    }
}

.sqr1 {
    width: 217px;
    height: 204px;
    left: 10px;
    top: 7px;
    background: #027353;
}
.sqr2 {
    width: 171px;
    height: 133px;
    left: 340px;
    top: 0px;
    transform: perspective(1000px) rotateX(40deg);
    background: #d9831a;
}
.sqr3 {
    width: 100px;
    height: 95px;
    left: 646px;
    top: 0px;

    background: #a64684;
}
.sqr4 {
    width: 168px;
    height: 231px;
    left: 0px;
    top: 406px;

    background: #a64684;
}
.sqr5 {
    width: 161px;
    height: 193px;
    left: 227px;
    top: 315px;

    background: #a64684;
}
.sqr6 {
    width: 76px;
    height: 73px;
    left: 478px;
    top: 383px;

    background: #d9831a;
}
.sqr7 {
    width: 155px;
    height: 113px;
    left: 516px;
    top: 209px;

    background: #a64684;
}

.sqr8 {
    width: 121px;
    height: 114px;
    left: 386px;
    top: 558px;

    background: #027353;
}
.sqr9 {
    width: 77px;
    height: 69px;
    left: 523px;
    top: 416px;

    background: #027353;
}
.sqr10 {
    width: 215px;
    height: 207px;
    left: 92px;
    top: 565px;

    background: #d9831a;
}
.sqr11 {
    width: 215px;
    height: 207px;
    left: 415px;
    top: 633px;

    background: #a64684;
}
.sqr12 {
    width: 62px;
    height: 56px;
    left: 662px;
    top: 539px;

    background: #d9831a;
}
.sqr13 {
    width: 77px;
    height: 69px;
    left: 685px;
    top: 634px;

    background: #027353;
}
.sqr12 {
    width: 62px;
    height: 56px;
    left: 662px;
    top: 539px;

    background: #d9831a;
}
.sqr14 {
    width: 77px;
    height: 83px;
    left: 128px;
    top: 191px;

    background: #d9831a;
}
.sqr15 {
    width: 62px;
    height: 56px;
    left: 355px;
    top: 243px;

    background: #d9831a;
}
.sqr16 {
    width: 77px;
    height: 69px;
    left: 581px;
    top: 64px;

    background: #027353;
}
.sqr17 {
    width: 54px;
    height: 50px;
    left: 806px;
    top: 570px;

    background: #a64684;
}

.deep {
    z-index: 1;
    opacity: 0.6;
    // filter: brightness(.8);´
    // box-shadow: none !important;
}
.front {
    z-index: 3;
}
.sqr18 {
    width: 145px;
    height: 149px;
    left: 181px;
    top: 311px;

    background: #027353;
}
.sqr19 {
    width: 93px;
    height: 86px;
    left: 307px;
    top: 123px;

    background: #a64684;
}
.sqr20 {
    width: 185px;
    height: 189px;
    left: 569px;
    top: 372px;

    background: #027353;
}
.sqr21 {
    width: 82px;
    height: 77px;
    left: 765px;
    top: 67px;

    background: #a64684;
}
.sqr22 {
    width: 82px;
    height: 77px;
    left: 696px;
    top: 291px;

    background: #d9831a;
}
.sqr23 {
    width: 54px;
    height: 50px;
    left: 74px;
    top: 113px;

    background: #a64684;
}
.sqr24 {
    width: 150px;
    height: 102px;
    left: -37px;
    top: 266px;

    background: #d9831a;
}
.sqr25 {
    width: 54px;
    height: 75px;
    left: 37px;
    top: 424px;

    background: #a64684;
}
.sqr26 {
    width: 77px;
    height: 69px;
    left: 328px;
    top: 444px;

    background: #027353;
}
.sqr27 {
    width: 82px;
    height: 87px;
    left: 849px;
    top: 172px;

    background: #d9831a;
}
.container_squares_cellphone {
    .sqr1 {
        width: 75px;
        height: 66px;
        left: 6px;
        top: 0px;

        background: #027353;
    }
    .sqr2 {
        width: 100px;
        height: 48px;
        left: -56px;
        top: 87px;

        background: #a64684;
    }
    .sqr3 {
        width: 68px;
        height: 59px;
        left: -51px;
        top: 156px;

        background: #d9831a;
    }
    .sqr4 {
        width: 56px;
        height: 55px;
        left: -26px;
        top: 206px;

        background: #027353;
    }
    .sqr5 {
        width: 65px;
        height: 43px;
        left: -21px;
        top: 427px;

        background: #027353;
    }
    .sqr6 {
        width: 65px;
        height: 109px;
        left: 35px;
        top: 463px;

        background: #027353;
    }
    .sqr7 {
        width: 68px;
        height: 59px;
        left: -14px;
        top: 518px;

        background: #d9831a;
    }
    .sqr8 {
        width: 208px;
        height: 113px;
        left: -99px;
        top: 675px;

        background: #d9831a;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
.viñeta {
    position: absolute;
    z-index: 1000;
    width: 6000px;
    height: 2000px;
    top: 0;
    left: 0;
    // background: radial-gradient(ellipse at center, rgba(0,0,0,0) 35%, rgba(0,0,0,0.7));
    // background: rgb(0,0,0);
    // background: rgb(0,0,0);
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0) 6%, rgba(0,0,0,0.8295693277310925) 55%);
    pointer-events: none;
}
