@import "../basics.scss";
@import "../components/forms.scss"; 
 
.container_login {      
    overflow: hidden; 
    position: relative;   
    display: grid;
    grid-template-columns: 65% 35%; 
    height: 100vh;
    background: $blue;
    @include card-form(100vh, 100%); 
    .title_and_icon {
        display: flex !important;
        align-items: center;
        gap: 25px;
        justify-content: center;
        margin-top: 115px;
    }
}
.icon {
    max-width: 70px;    
}
.card_form {
    position: relative;
    padding-right: 56px !important; 
}
.btn_submit {
    text-align: right;
    position: absolute;
    font-size: 26px;  
    padding-right: 10px;
    width: 397px;  
    height: 77px; 
    right: 0;
    top: calc(50% - 77px / 2 + 126.5px);
    &.disabled { 
        color: rgba(255, 255, 255, 0.664);

        background: linear-gradient(
            270deg, 
            #57adc0,
            rgba(87, 173, 192, 0.208333), 
            rgba(87, 173, 192, 0) 
        );   

    }
    &.active {
        color: #331628;

        background: linear-gradient(270deg, #A64684 11.92%, #A64684 54.62%, #069DBF 101.65%);
        &.active:hover {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.781);
            transition: all .3s ease;
        }
    }
}

.body_form { 
    margin-top: 40px;
}
.container_squares > div {
    position: absolute;
    @media (max-width: 600px) {
        display: none;
    }
    box-shadow: 1px 1px 28px 11px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: all .6s ease-out;
}
.sqrBack{
    filter: brightness(.9);
}
.sqr1 {
    width: 227px;
    height: 214px;
    left: 10px;
    top: 7px;
    background: #027353;
}
.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

}
.sqr2 {
    width: 171px;
    height: 133px;
    left: 340px;
    top: 0px;

    background: #d9831a;
}
.sqr3 {
    width: 100px;
    height: 95px;
    left: 646px;
    top: 0px;

    background: #a64684;
}
.sqr4 {
    width: 168px;
    height: 231px;
    left: 0px;
    top: 406px;

    background: #a64684;
}
.sqr5 {
    width: 161px;
    height: 208px;
    left: 227px;
    top: 286px;

    background: #a64684;
}
.sqr6 {
    width: 76px;
    height: 219px;
    left: 478px;
    top: 237px;

    background: #d9831a;
    box-shadow: 1px 1px 28px 11px rgba(0, 0, 0, 0.25);
}
.sqr7 {
    width: 208px;
    height: 113px;
    left: 516px;
    top: 209px;

    background: #a64684;
}

.sqr8 {
    width: 121px;
    height: 114px;
    left: 386px;
    top: 558px;

    background: #027353;
}
.sqr9 {
    width: 77px;
    height: 69px;
    left: 523px;
    top: 416px;

    background: #027353;
}
.sqr10 {
    width: 215px;
    height: 207px;
    left: 92px;
    top: 565px;

    background: #d9831a;
}
.sqr11 {
    width: 215px;
    height: 207px;
    left: 415px;
    top: 633px;

    background: #a64684;
}
.sqr12 {
    width: 62px;
    height: 56px;
    left: 662px;
    top: 539px;

    background: #d9831a;
}
.sqr13 {
    width: 77px;
    height: 69px;
    left: 685px;
    top: 634px;

    background: #027353;
}
.sqr12 {
    width: 62px;
    height: 56px;
    left: 662px;
    top: 539px; 

    background: #d9831a;
}
.sqr14 {
    width: 77px; 
    height: 83px;
    left: 128px; 
    top: 191px;  
 
    background: #d9831a;
}
.sqr15 {
    width: 62px;
    height: 56px;
    left: 355px;
    top: 243px;

    background: #d9831a;
}
.sqr16 {
    width: 77px;
    height: 69px;
    left: 581px;
    top: 64px;

    background: #027353;
}
.sqr17 {
    width: 54px;
    height: 50px;
    left: 806px;
    top: 570px;

    background: #a64684;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }